<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <title th:text="${name}"></title>
    <h1>About</h1>
    <p>Name: Zulia</p>
    <br>
    <p>Birthdate&BirthPlace: 17 Jan, Padang</p>
    <br>
    <p>Address: Beji</p>
    <br>
    <h1>Education History</h1>
    <p> Computer Science Universitas Indonesia (2016-2020)</p>
    <h1>About Me</h1>
    <p>I like foods. Vice Versa</p>
</body>
</html>